@font-face {
  font-family: Mistral;
  src: url(resources/fonts/MISTRAL.TTF);
}
@font-face {
  font-family: Shadows Into Light Two;
  src: url(resources/fonts/ShadowsIntoLightTwo-Regular.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 4.5rem;
  scroll-behavior: smooth;
}

body {
  background-color: #1f2025;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2025;
  padding: 1rem 4rem;
  border-bottom: 2px solid #efefef10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.title {
  font-weight: 100;
  font-size: 2rem;
  display: flex;
  font-family: "Mistral";
}

.title a {
  text-decoration: none;
  color: #ffc700;
  cursor: pointer;
  display: flex;
}

.title a:hover {
  color: #ffc700;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
}

.nav-link {
  list-style: none;
  margin: 0px 1.3rem;
  font-family: "Montserrat", sans-serif;
  font-size: 0.85rem;
}

.nav-link a {
  text-decoration: none;
  color: #efefef75;
  transition: all 0.1s ease-in-out;
}

.nav-link a:hover {
  color: #efefef;
}

.nav-link a:active,
.nav-link a:focus {
  color: #ffc700;
}

.menu {
  display: none;
  font-size: 1.4rem;
  color: #efefef;
  cursor: pointer;
}

@media screen and (max-width: 1050px) {
  .navbar {
    height: 2.5rem;
    padding: 1rem 2rem;
  }

  .menu {
    display: block;
  }

  .activate {
    display: block !important;
  }

  .nav {
    display: none;
    position: absolute;
    background-color: #1f2025;
    z-index: 1000;
    top: 4.6rem;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #efefef10;
    box-shadow: 0px 30px 50px #efefef10;
  }

  .navbar .title {
    font-size: 1.5rem;
  }

  .nav-links {
    color: #efefef;
    display: block;
    text-align: center;
  }

  .nav-link {
    padding: 1.5rem 0rem;
  }

  .nav-link:hover {
    background-color: #303135;
  }
}

.slideshow {
  position: relative;
  z-index: 0;
  height: calc(100vh - 4.6rem);
}

.slideshow-container {
  margin-top: 4.6rem;
  width: 100%;
  z-index: 0;
}

.mySlides {
  display: none;
}

.next {
  cursor: pointer;
  position: absolute;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #ffc700;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  right: 5rem;
}

.next:hover {
  color: #aa8707;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 0.5rem;
  background-color: #efefef45;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slideactive,
.dot:hover {
  background-color: #ffc700;
  height: 25px;
  width: 25px;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.slide {
  padding: 0 4rem 0 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.image-1 img,
.image-2 img,
.image-3 img {
  height: inherit;
  width: inherit;
}

.image-1,
.image-2,
.image-3 {
  position: relative;
  width: 20vw;
  height: 75vh;
  margin-left: 1rem;
}

.image-1 img {
  object-position: left;
  object-fit: cover;
}

.image-2 img {
  object-position: center;
  object-fit: cover;
}

.image-3 img {
  object-position: right;
  object-fit: cover;
}

.float-right {
  display: flex;
}

.numbertext {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #efefef;
}

.slide-title {
  font-family: "Montserrat", sans-serif;
  font-size: 4.5rem;
  color: #efefef;
  margin: 1rem 0 2rem 0;
}

.learn-more {
  color: #ffc700;
  font-family: "Montserrat", sans-serif;
}

.dot-container {
  position: relative;
  margin-left: 4rem;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1050px) {
  .slideshow {
    height: auto;
  }

  .slide {
    display: block;
    text-align: center;
    padding: 0 0;
    padding-top: 1rem;
  }

  .numbertext {
    font-size: 1.25rem;
  }

  .slide-title {
    font-size: 2.25rem;
    margin: 0rem 0 1rem 0;
  }

  .image-1 {
    margin: 5vh 5vw;
    width: 100%;
    height: 40vh;
  }

  .image-2,
  .image-3 {
    display: none;
  }

  .dot-container {
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .bottom-container {
    position: absolute;
    margin-top: 0;
    padding-bottom: 4vh;
  }

  .next {
    margin-top: 0%;
    right: 1rem;
  }

  .learn-more {
    font-size: 0.8rem;
  }
}

.bottom-container {
  position: relative;
  margin-top: 2vh;
  display: flex;
  align-items: center;
}

.quote-container {
  margin: 6vh 6vw;
  border: 2px solid #ffc700;
  padding: 7vh 7vw;
  text-align: center;
}

.quote-container p {
  font-family: "Shadows Into Light Two", cursive;
  font-size: 1.4rem;
  color: #efefef;
}

.about {
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 4.6rem);
  height: calc(100vh - 4.6rem);
  max-height: fit-content;
  position: relative;
}

.about-container {
  position: relative;
  min-height: calc(100vh - 4.6rem);
  height: calc(100vh - 4.6rem);
  max-height: fit-content;
  background-color: #ffc700;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-one {
  transform: rotate(-90deg);
  font-size: 5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #1f2025;
  text-align: center;
}

.about-us {
  min-height: calc(100vh - 4.6rem);
  height: 100%;
  max-height: fit-content;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 5vw;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #efefef;
  line-height: 1.5rem;
}

.about-us hr {
  width: 20%;
  height: 0.1rem;
  border: none;
  background-color: #ffc700;
}

.about-us h2 {
  font-weight: 400;
}

@media screen and (max-width: 1050px) {
  .about {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
  }

  .about-container {
    min-height: auto;
    max-height: fit-content;
    padding: 4vh 0;
    width: 100%;
    display: block;
  }

  .about-one {
    transform: rotate(0deg);
    font-size: 4rem;
  }

  .about-two {
    display: none;
  }

  .about-us {
    min-height: auto;
    padding: 5vh 10vw;
    align-items: initial;
    justify-content: initial;
  }

  .about-us hr {
    margin: auto;
  }
}

.sources {
  display: flex;
  flex-direction: row;
  position: relative;
  min-height: calc(100vh - 4.6rem);
  height: 100%;
  max-height: fit-content;
  padding: 0 5vw;
}

.sources-left {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5vw;
  text-align: center;
}

.sources-left h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: 3vh;
  color: #ffc700;
}

.sources-left p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #efefef;
  line-height: 1.5rem;
}

.sources-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sources-right img {
  width: 100%;
  height: auto;
  transform: translate(2rem, -2rem);
}

@media screen and (max-width: 1050px) {
  .sources {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10vh 0;
  }

  .sources-left {
    margin: 0 0 5vh 0;
  }
}

.products {
  height: fit-content;
}

.product {
  position: relative;
  cursor: pointer;
  background-color: red;
  border: none;
}

.product-container {
  position: relative;
  height: fit-content;
  padding: 10vh 5vw;
}

.product-h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: 3vh;
  color: #ffc700;
  text-align: center;
}

.product-categories {
  margin: 0 10vw;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
}

img {
  max-width: 100%;
  display: block;
}

.product img {
  width: 100%;
  aspect-ratio: 1.5/1;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0 / 0.5);
  width: 100%;
  height: 100%;
}

.product:hover .overlay {
  display: flex;
  animation-name: overlay;
  animation-duration: 0.3s;
}

@keyframes overlay {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.overlay h1,
.overlay p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.overlay h1 {
  color: #ffc700;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.overlay p {
  color: #ffc700;
  font-size: 0.75rem;
}

@media screen and (max-width: 1250px) {
  .product-categories {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1050px) {
  .product-categories {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 960px) {
  .product-categories {
    grid-template-columns: 1fr;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0 0 0 / 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #1f2025;
  padding: 5vh 5vw;
  box-shadow: 0 0 1rem #efefef25;
  width: 80%;
  position: relative;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content h1 {
  font-size: 1.5rem;
  color: #ffc700;
  font-weight: 400;
  text-transform: uppercase;
}

.close {
  color: #ffc700;
  font-size: 1.5rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  transition: all 0.3s ease-in-out;
}

.close:hover,
.close:focus {
  color: #aa8707;
  text-decoration: none;
  cursor: pointer;
}

.quality {
  display: flex;
  flex-direction: row;
  position: relative;
  min-height: calc(100vh - 4.6rem);
  height: 100%;
  max-height: fit-content;
  padding: 0 5vw;
}

.quality-left img {
  width: 100%;
  height: auto;
  transform: translate(2rem, -2rem);
}

.quality-left {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5vw;
}

.quality-right h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: 3vh;
  color: #ffc700;
}

.quality-right p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #efefef;
  line-height: 1.5rem;
}

.quality-right {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5vw;
  text-align: center;
}

@media screen and (max-width: 1050px) {
  .quality {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10vh 0;
  }

  .quality-left {
    margin: 0 0 0 0;
  }

  .quality-right {
    width: 100%;
    margin-right: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

.team {
  display: flex;
  flex-direction: row;
  position: relative;
  min-height: calc(100vh - 4.6rem);
  height: 100%;
  max-height: fit-content;
  padding: 0 5vw;
}

.team-left {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5vw;
  text-align: center;
}

.team-left h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin-bottom: 3vh;
  color: #ffc700;
}

.team-left p {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #efefef;
  line-height: 1.5rem;
}

.team-right {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-right img {
  width: 100%;
  height: auto;
  transform: translate(2rem, -2rem);
}

@media screen and (max-width: 1050px) {
  .team {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10vh 0;
  }

  .team-left {
    margin: 0 0 5vh 0;
  }
}

.footer-navbar {
  background-color: #ffc700;
  color: #1f2025;
  padding: 5vh 5vw;
}

.section-1 {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  justify-content: space-between;
}

.left-section {
  font-family: Mistral;
  font-weight: 100;
  font-size: 2rem;
}

.right-section {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  justify-content: center;
  align-items: center;
}

.right-section p {
  margin-left: 5vw;
}

.footer-navbar hr {
  margin: 5vh 0;
  border: 1px solid #1f2025;
}

.section-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 5vh;
}

.section-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-card i {
  font-size: 1.3rem;
  margin-bottom: 2.5vh;
  color: #1f2025;
}

.section-card p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  color: #1f2025;
}

.section-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1050px) {
  .section-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left-section {
    margin-bottom: 2vh;
  }

  .right-section {
    text-align: center;
  }

  .section-2 {
    display: flex;
    flex-direction: column;
  }

  .section-card {
    margin: 2vh 0;
  }

  .section-3 {
    text-align: center;
  }
}
